In [13]:
import os
import pandas as pd

In [25]:
test_df = pd.read_csv(os.getcwd() + "/feed_data.csv")
test_df.columns
group_keys = ["Response ID", "prob"]
cols = ["likelihood", "severity", "outcometrust"]
mode = ["mean", "mean", "mean"]
pairs = {"likelihood":"mean", "severity":"mean", "outcometrust":"mean"}
test_df.groupby(group_keys).agg(pairs).reset_index()

            Response ID  prob  likelihood   severity  outcometrust
0     R_0dG3fTuMZi3k23L     0   28.944444  14.833333    100.000000
1     R_0dG3fTuMZi3k23L    10   84.750000  82.000000     99.500000
2     R_0dG3fTuMZi3k23L    30   96.461538  93.615385    100.000000
3     R_0dG3fTuMZi3k23L    50   94.000000  96.750000    100.000000
4     R_0dG3fTuMZi3k23L    70   96.285714  96.428571    100.000000
...                 ...   ...         ...        ...           ...
1753  R_ypDHwOOMu5DunUR    10   33.650000  39.750000     90.450000
1754  R_ypDHwOOMu5DunUR    30   45.538462  54.923077     82.692308
1755  R_ypDHwOOMu5DunUR    50   69.625000  67.125000     90.625000
1756  R_ypDHwOOMu5DunUR    70   75.857143  74.285714     91.285714
1757  R_ypDHwOOMu5DunUR    90   95.500000  95.500000     94.000000

[1758 rows x 5 columns]